Create variables to store the following geospatial data:

The latitude and longitude of New York City: 40.7128, -74.0060.

you can do it using a** tuple** () in simple way
This approach is straightforward and useful when you need a simple representation of the coordinates.

Ideal for scenarios where the location is understood from the context and doesn’t need a descriptive label.

In [2]:
coordinates = (40.7128, -74.0060)

**Using a dictionary**

This method is more descriptive and useful if you plan to store multiple locations and their coordinates.

It makes your code more readable and organized, especially when dealing with numerous locations.

In [ ]:
coordinate = {"New York City" : (40.7128, -74.0060)}

For example, if you're handling multiple cities, the dictionary approach is advantageous

In [3]:
coordinates = {
    "New York City": (40.7128, -74.0060),
    "Los Angeles": (34.0522, -118.2437),
    "Chicago": (41.8781, -87.6298)
}

The population of New York City: 8,336,817.

The area of New York City in square kilometers: 783.8

In [7]:
NY = {
    "New York City": (40.7128, -74.0060),
    "Population": 8_336_817,
    "Area": 783.8
}

Dictionaries in Python are incredibly versatile and can hold multiple data types, making them perfect for storing diverse types of information. As I've demonstrated with your "NY" dictionary, you can store geospatial data, population numbers, and area measurements all within a single dictionary.

In [8]:
lat,long = coordinates["New York City"]

In [12]:
print(f'latitude = {lat}\n longitude = {long}')

latitude = 40.7128
 longitude = -74.006

Calculate and print the population density of New York City (population per square kilometer).

In [13]:
pop_density = NY["Population"] / NY["Area"]

In [15]:
print(f'popuplation density of newyork city is : {pop_density}')

popuplation density of newyork city is : 10636.408522582293

#Exercise 2:
Working with Strings
Create a string variable to store the name of a city, such as “San Francisco”. Perform the following operations:

Convert the string to lowercase and print the result.

Convert the string to uppercase and print the result.

Replace “San” with “Los” in the city name and print the new string.

In [25]:
city =  "San Francisco"

In [21]:
city.lower()
city.upper()

'SAN FRANCISCO'

In [29]:
up = city.replace("San","Los")
print(up)

Los Francisco

#Exercise 3: Using Lists
Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

New York City: (40.7128, -74.0060)

Los Angeles: (34.0522, -118.2437)

Chicago: (41.8781, -87.6298)

Perform the following tasks:

Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.

Print the entire list of cities.

Slice the list to print only the first two cities.

In [39]:
cities = [("New York City" ,40.7128, -74.0060),
          ("Los Angeles",34.0522, -118.2437),
          ("Chicago",41.8781, -87.6298)]

In [37]:
for city,lat,long in cities:
    print(f'city : {city}\n latitude : {lat}\n longitude : {long}')

city : New York City
 latitude : 40.7128
 longitude : -74.006
city : Los Angeles
 latitude : 34.0522
 longitude : -118.2437
city : Chicago
 latitude : 41.8781
 longitude : -87.6298

In [38]:
#Slice the list to print only the first two cities.
cities[:2]

[('New York City', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437)]

In [79]:
#List Operations Sort the list of cities alphabetically by name. Create a new list that contains only the city names.
##Remove the last city from the original list and print the updated list.
cities = [("New York City", 40.7128, -74.0060),
          ("Los Angeles", 34.0522, -118.2437),
          ("Chicago", 41.8781, -87.6298)]


sorted_cities = sorted(cities, key=lambda city: city[0])
print("Sorted Cities:", sorted_cities)


city_names = [city[0] for city in sorted_cities]
print("City Names:", city_names)

cities.pop()
print("Updated List:", cities)

Sorted Cities: [('Chicago', 41.8781, -87.6298), ('Los Angeles', 34.0522, -118.2437), ('New York City', 40.7128, -74.006)]
City Names: ['Chicago', 'Los Angeles', 'New York City']
Updated List: [('New York City', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437)]

#Exercise 4:
Using Tuples Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks: Access and print the latitude and longitude values from the tuple. Try to change the latitude value to 48.8585. What happens? Explain why.

In [49]:
info = ("Effiel tower",48.8584,2.2945)
latitude = info[1]
longitude = info[2]
print(f"Latitude: {latitude}, \nLongitude: {longitude}")

Latitude: 48.8584,
Longitude: 2.2945

In [44]:
place, lat, long = info
print(f"Latitude: {lat} \nLongitude: {long}")

Latitude: 48.8584
Longitude: 2.2945

In [ ]:
#since tuples are immutabe it cant be chnaged

#Exercise 5: Working with Sets
Create a set of countries you have visited, such as {“USA”, “France”, “Germany”}. Perform the following tasks:

Add a new country to the set.

Try to add the same country again. What happens?

Print the updated set.

In [51]:
tours = ['USA', 'France','Germany']

In [52]:
tours = set(tours)

In [56]:
tours.add("pakistan")

In [58]:
print(tours
      )

{'pakistan', 'USA', 'France', 'Germany'}

In [63]:
#dictoionary
river = {"river" :"Amazon River",
"Length":6400,
"Course": ['Brazil',"Peru","Colombia"]}

In [65]:
# Add a new key-value pair to the dictionary to store the river’s average
# discharge (e.g., 209,000 m³/s).
river[" discharge"] = 209000

In [67]:
print(river)

{'river': 'Amazon River', 'Length': 6400, 'Course': ['Brazil', 'Peru', 'Colombia'], ' discharge': 209000}

In [68]:
river["Length"] = 6500

In [69]:
print(river)

{'river': 'Amazon River', 'Length': 6500, 'Course': ['Brazil', 'Peru', 'Colombia'], ' discharge': 209000}

In [87]:
if 'Length' in river:
  print('Length is in the dictionary')
else:
  print('Length is not in the dictionary')

print(list(river.keys()))
print(list(river.values()))

Length is in the dictionary
['river', 'Length', 'Course', ' discharge']
['Amazon River', 6500, ['Brazil', 'Peru', 'Colombia'], 209000]

In [70]:
city_attributes = { "city" :"lahore",
"pop":640045678900987,
"Coordinates":(35.6895, 139.6917)
}

In [72]:
print(city_attributes["city"])

lahore

In [77]:
#Access and print the city’s latitude
print(city_attributes["Coordinates"][0])

35.6895

In [94]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

In [98]:
locations = [location[0] for location in locations]
print(locations)

['M', 'K', 'K']

In [102]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475)
]

location_names = [location[0] for location in locations]
print("Location Names:", location_names)

Location Names: ['Mount Everest', 'K2', 'Kangchenjunga']

In [109]:
locations = {
    "Mount Everest" : (27.9881, 86.9250),
    "K2" : (35.8808, 76.5155),
    "Kangchenjunga" : (27.7025, 88.1475),
}

In [111]:

locations["K2"][0]

35.8808