In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [1]:
## data types in geospatial context:

In [2]:
features = 500 #in dataset

In [5]:
data = { "id" : [1,2,3,4,5],
        "features" : ["feature A", "feature B","feature C","feature D","feature E"],
         "Value" : [10,20,30,40,50]

}

In [6]:
print(data)

{'id': [1, 2, 3, 4, 5], 'features': ['feature A', 'feature B', 'feature C', 'feature D', 'feature E'], 'Value': [10, 20, 30, 40, 50]}

In [8]:
## FLOATING POINT
latitude = 35.6895  # Represents the latitude of a point on Earth's surface
longitude = 139.6917  # Represents the longitude of a point on Earth's surface

In [9]:
## What you will use to represent coordinate system?

In [10]:
#data type: string
coordinate_system =  'WGS 1984'

In [13]:
data = { "id" : [1,2,3,4,5],
        "features" : ["feature A", "feature B","feature C","feature D","feature E"],
         "type" : ["school","house","park","market","hospital"],
         "Value" : [10,20,30,40,50]

}

In [14]:
print(data)

{'id': [1, 2, 3, 4, 5], 'features': ['feature A', 'feature B', 'feature C', 'feature D', 'feature E'], 'type': ['school', 'house', 'park', 'market', 'hospital'], 'Value': [10, 20, 30, 40, 50]}

In [20]:
##Booleans & dictionary:

In [21]:
        data = { 'id' : [1,2,3,4,5],
        "features" : ["feature A", "feature B","feature C","feature D","feature E"],
        "type" : ["school","house","park","market","hospital"],
         "has_parking" : [True,False,True,False,True]}

In [19]:
print(data)

{'id': [1, 2, 3, 4, 5], 'features': ['feature A', 'feature B', 'feature C', 'feature D', 'feature E'], 'type': ['school', 'house', 'park', 'market', 'hospital'], 'has_parking': [True, False, True, False, True]}

In [32]:
coordinates_system = [("New York City", "USA", (40.7128, 74.0060)),
               ("tokyo", "japan",( 35.6895, 139.6917)),
               ("paris", "france", (48.8566, 2.3522)),
               ("london", "england", (51.5074, 0.1278)),
               ("berlin", "germany", (52.5200, 13.4050))
              ]

[('New York City', 'USA', (40.7128, 74.006)), ('tokyo', 'japan', (35.6895, 139.6917)), ('paris', 'france', (48.8566, 2.3522)), ('london', 'england', (51.5074, 0.1278)), ('berlin', 'germany', (52.52, 13.405))]

In [34]:

cities_coordinates = [
    ("New York City, USA", (40.7128, -74.0060)),
    ("Tokyo, Japan", (35.6895, 139.6917)),
    ("Sydney, Australia", (-33.8688, 151.2093)),
    ("Cairo, Egypt", (30.0444, 31.2357)),
    ("Paris, France", (48.8566, 2.3522))
]

for city, coordinates in cities_coordinates:
    print(f"City: {city}, Coordinates: {coordinates}")

City: New York City, USA, Coordinates: (40.7128, -74.006)
City: Tokyo, Japan, Coordinates: (35.6895, 139.6917)
City: Sydney, Australia, Coordinates: (-33.8688, 151.2093)
City: Cairo, Egypt, Coordinates: (30.0444, 31.2357)
City: Paris, France, Coordinates: (48.8566, 2.3522)

In [38]:
coordinates = ("lahore, pakistan", (40.7128, -74.0060))

In [44]:
cities_coordinates.append(coordinates)

for city, coordinates in cities_coordinates:
    print(f"City: {city}, Coordinates: {coordinates}")

#print(f"updated : {cities_coordinates}")

City: New York City, USA, Coordinates: (40.7128, -74.006)
City: Tokyo, Japan, Coordinates: (35.6895, 139.6917)
City: Sydney, Australia, Coordinates: (-33.8688, 151.2093)
City: Cairo, Egypt, Coordinates: (30.0444, 31.2357)
City: Paris, France, Coordinates: (48.8566, 2.3522)
City: lahore, pakistan, Coordinates: (40.7128, -74.006)
City: lahore, pakistan, Coordinates: (40.7128, -74.006)
City: lahore, pakistan, Coordinates: (40.7128, -74.006)
City: lahore, pakistan, Coordinates: (40.7128, -74.006)

In [45]:
##centroid

points = [
    [35.6895, 139.6917],  # Tokyo
    [34.0522, -118.2437],  # Los Angeles
    [51.5074, -0.1278],  # London
    [48.8566, 2.3522],  # Paris
]

In [46]:
centroid_lat = sum([point[0] for point in points]) / len(points)
centroid_lon = sum([point[1] for point in points]) / len(points)
centroid = [centroid_lat, centroid_lon]
print("Centroid of the points is at:", centroid)

Centroid of the points is at: [42.526425, 5.918099999999998]

In [47]:
coordinates = [
    (34.052235, -118.243683),  # Los Angeles, CA
    (40.712776, -74.005974),   # New York, NY
    (48.856613, 2.352222),     # Paris, France
    (35.689487, 139.691711),   # Tokyo, Japan
    (51.507351, -0.127758)     # London, UK
]

In [49]:
# List of tuples representing the coordinates of different cities
coordinates = [
    (34.052235, -118.243683),  # Los Angeles, CA
    (40.712776, -74.005974),   # New York, NY
    (48.856613, 2.352222),     # Paris, France
    (35.689487, 139.691711),   # Tokyo, Japan
    (51.507351, -0.127758)     # London, UK
]

# Calculate the centroid
centroid_latitude = sum(coord[0] for coord in coordinates) / len(coordinates)
centroid_longitude = sum(coord[1] for coord in coordinates) / len(coordinates)
centroid = (centroid_latitude, centroid_longitude)

# Create a dictionary to store the centroid's latitude and longitude
centroid_dict = {
    "latitude": centroid_latitude,
    "longitude": centroid_longitude
}

print(centroid_dict)

{'latitude': 42.163692399999995, 'longitude': -10.066696400000001}